.noticias-container {
  display: flex;
  flex-wrap: wrap;
}

.noticia {
  width: 300px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.noticia-titulo {
  font-weight: bold;
  font-size: 20px;
}

.noticia-info {
  margin-top: 10px;
  font-size: 14px;
}

.noticia-fuente {
  margin-right: 10px;
}

.web-noticia-detalle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  background-color: #fff;
  display: none;
}

.web-noticia-detalle-titulo {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.web-noticia-detalle-subtitulo {
  font-size: 20px;
  margin-bottom: 20px;
}

.web-cerrar-detalle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .noticia {
    width: 100%;
  }
}