{% extends 'web/base.html' %}

{% block content %}
  <div class="news-container">
    {% for new in news %}
      <div class="new" id={{ new.id }}>
        <h2>{{ new.title }}</h2>
        <p>{{ new.source }} - {{ new.creationDate|date:"d/m/Y" }}</p>
        <p class="subtitulo" style="display: none;">{{ new.subtitle }}</p>
        <button style="display: block;" class="expand-button" onclick="toggleDetails(this.parentNode)">expand</button>
      </div>
    {% endfor %}
  </div>
  {% if pagina.has_previous or pagina.has_next %}
    <div class="pagination" style="margin-top: 1000px">
        {% if pagina.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ pagina.previous_page_number }}">&lt; Prev</a>
        {% endif %}
          <p>{{ pagina.number }} of {{ pagina.paginator.num_pages }}</p>
        {% if pagina.has_next %}
          <a href="?page={{ pagina.next_page_number }}">Next &gt;</a>
          <a href="?page={{ pagina.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>
  {% endif %}

{% endblock %}
