{% extends 'web/base.html' %}

{% block content %}
  <div class="noticias-container">
    {% for noticia in noticias %}
      <div class="noticia" id={{ noticia.indice }}>
        <h2>{{ noticia.titulo }}</h2>
        <p>{{ noticia.fuente }} - {{ noticia.fecha_creacion|date:"d/m/Y" }}</p>
        <p class="subtitulo" style="display: none;">{{ noticia.subtitulo }}</p>
        <button style="display: block;" class="expand-button" onclick="toggleDetails(this.parentNode)">expand</button>
      </div>
    {% endfor %}
  </div>
  {% if pagina.has_previous or pagina.has_next %}
    <div class="pagination" style="margin-top: 1000px;">
        {% if pagina.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ pagina.previous_page_number }}">&lt; Prev</a>
        {% endif %}

        {% if pagina.has_next %}
          <a href="?page={{ pagina.next_page_number }}">Next &gt;</a>
          <a href="?page={{ pagina.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}

        <p>Page {{ pagina.number }} of {{ pagina.paginator.num_pages }}</p>
    </div>
  {% endif %}

{% endblock %}
