{% extends 'web/base.html' %}

{% block content %}
  <div class="web-noticia-detalle">
    <div class="noticia-detalle-titulo">{{ noticia.titulo }}</div>
    <div class="noticia-detalle-subtitulo">{{ noticia.subtitulo }}</div>
    <button class="web-cerrar-detalle">x</button>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    var detalle = document.querySelector('.web-noticia-detalle');
    var cerrarBtn = document.querySelector('.web-cerrar-detalle');
    cerrarBtn.addEventListener('click', function() {
      detalle.style.display = 'none';
    });
  </script>
{% endblock %}
